<div class="card mb-3">
    <div class="card-header text-center bg-card text-white"> {{ "BOOK.BOOK_TITLE" | translate}} </div>
    <div class="card-body txt-content">
        <h5 class="card-title">{{ "BOOK.BOOK_LIST" | translate }}</h5>
        <div class="mb-3 form__content-submit">
            <button type="button" class="form__submit" routerLink="/libros/form">
                <i class='bx bxs-folder-plus icon-style'></i>
                {{ "SHARED.BUTTONS.ADD_BOOK" | translate }}
            </button>
        </div>
        <ngx-datatable class="material" [rows]="data" [columns]="cols" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected" [selectionType]="SelectionType.single" (select)="onSelect($event)">
        </ngx-datatable>
        <ng-template #hdrTpl let-column="column">{{ column.name }}</ng-template>
        <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
            <ng-container>
                {{ value }}
            </ng-container>
        </ng-template>
    </div>
</div>