<div class="card mb-3">
    <div class="card-header text-center bg-card text-white"> {{ "CHAPTERS.CHAPTER_TITLE" | translate}} </div>
    <div class="card-body txt-content">
        <h5 class="card-title">{{ "CHAPTERS.CHAPTER_LIST" | translate }}</h5>
        <div class="conteiner__search">
            <select class="form-select form-select-sm form-select-own" aria-label=".form-select-sm example" [(ngModel)]="libroId">
                <option *ngFor="let libro of libros" [value]="libro.id"> {{libro.nombre}} </option>
            </select>
            <button type="button" (click)="buscarCapitulos()" class="form__submit">{{ "SHARED.BUTTONS.SEARCH" | translate }}</button>
            <button *ngIf="libroId > 0" type="button" (click)="crearCapitulo()" class="form__submit">{{ "SHARED.BUTTONS.ADD_CHAPTER" | translate }}</button>
        </div>
        <div *ngIf="capitulos?.length == 0" class="alert alert-info mt-3 mb-2">
            {{ "VALIDATION.WARNING_LIST" | translate }}
        </div>
        <div *ngIf="capitulos.length>0">
            <ngx-datatable class="material" [rows]="capitulos" [columns]="cols" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [selected]="selected" [selectionType]="SelectionType.single" (select)="onSelect($event)">
            </ngx-datatable>
            <ng-template #hdrTpl let-column="column">{{ column.name }}</ng-template>
            <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
                <ng-container>
                    {{ value }}
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>