<div class="card border-primary mb-3 mt-2">
    <div class="card-header"> {{ "CHAPTERS.CHAPTER_TITLE" | translate}} </div>
    <div class="card-body text-primary">
        <h5 class="card-title">{{ "CHAPTERS.CHAPTER_LIST" | translate }}</h5>
        <div class="row">
            <div class="col-11">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="libroId">
                    <option *ngFor="let libro of libros" [value]="libro.id"> {{libro.nombre}} </option>
                </select>
            </div>
            <div class="col-1">
                <button type="button" (click)="buscarCapitulos()" class="btn btn-primary btn-sm">{{ "SHARED.BUTTONS.SEARCH" | translate }}</button>
            </div>
            <div class="row mt-3" *ngIf="libroId > 0">
                <div class="col-2">
                    <button type="button" (click)="crearCapitulo()" class="btn btn-primary btn-sm mb-2">{{ "SHARED.BUTTONS.ADD_CHAPTER" | translate }}</button>
                </div>
            </div>
            <div *ngIf="capitulos?.length == 0" class="alert alert-info mt-3 mb-2">
                {{ "VALIDATION.WARNING_LIST" | translate }}
            </div>
            <div *ngIf="rowData?.length>0">
                <ag-grid-angular style="width: 90%; height: 500px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)">
                </ag-grid-angular>
            </div>

            <!-- <table class="table table-bordered table-striped mt-3" *ngIf="capitulos?.length>0">
                <thead>
                    <tr>
                        <th class="text-center">{{ "CHAPTERS.NUMBER" | translate }}</th>
                        <th class="text-center">{{ "CHAPTERS.NAME" | translate }}</th>
                        <th class="text-center"> # </th>
                        <th class="text-center"> # </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let capitulo of capitulos">
                        <td class="text-center"> {{capitulo.numero}} </td>
                        <td class="text-center"> {{capitulo.nombre}} </td>
                        <td class="text-center">
                            <button type="button" [routerLink]="['/capitulos/form',capitulo.id]" class="btn btn-primary btn-sm">{{ "SHARED.BUTTONS.CONSULT" | translate }}</button>
                        </td>
                        <td class="text-center">
                            <button type="button" name="eliminar" class="btn btn-danger btn-sm" (click)="eliminarCapitulo(capitulo)">{{ "SHARED.BUTTONS.DELETE" | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator> -->
        </div>
    </div>
</div>