<div class="card bg-dark text-white mt-2">
    <div class="card-header text-center" *ngIf="!consulta">{{ "CHAPTERS.ADD_CHAPTER_TITLE" | translate}}</div>
    <div class="card-header text-center" *ngIf="consulta"> {{ "CHAPTERS.CONSULT_CHAPTER_TITLE" | translate}} </div>
    <div class="card-body">
        <form [formGroup]="capituloForm" (ngSubmit)="guardarCapitulo()">
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "CHAPTERS.NUMBER" | translate}} </label>
                <input [class.is-invalid]="numero.invalid && numero.touched" type="text" formControlName="numero" class="form-control" required>
                <small class="text-danger " *ngIf="numero.invalid && numero.touched ">{{ "VALIDATION.NUMBER_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "CHAPTERS.NAME" | translate}} </label>
                <input [class.is-invalid]="nombre.invalid && nombre.touched" type="text" formControlName="nombre" class="form-control" required>
                <small class="text-danger " *ngIf="nombre.invalid && nombre.touched ">{{ "VALIDATION.NAME_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "CHAPTERS.DESCRIPTION" | translate}} </label>
                <textarea [class.is-invalid]="descripcion.invalid && descripcion.touched" class="form-control" formControlName="descripcion" required></textarea>
                <small class="text-danger " *ngIf="descripcion.invalid && descripcion.touched ">{{ "VALIDATION.DESCRIPTION_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mt-3">
                    <button type="submit" *ngIf="!consulta" [disabled]="capituloForm.invalid" class="btn btn-primary">{{ 'SHARED.BUTTONS.SAVE' | translate }}</button>
                    <button type="button" *ngIf="consulta" class="btn btn-danger" (click)="eliminarCapitulo()">{{ 'SHARED.BUTTONS.DELETE' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card border-primary mb-3 mt-2" *ngIf="consulta">
    <div class="card-header"> {{ "BOOK_MARKS.BOOK_MARK_TITLE" | translate}} </div>
    <div class="row mt-3" *ngIf="capituloId > 0">
        <div class="col-2">
            <button type="button" (click)="crearMarcaLibro()" class="btn btn-primary btn-sm">{{ "SHARED.BUTTONS.ADD_BOOK_MARK" | translate }}</button>
        </div>
    </div>
    <div class="card-body text-primary">
        <div *ngIf="marcasLibros?.length == 0" class="alert alert-info mt-3">
            {{ "VALIDATION.WARNING_LIST" | translate }}
        </div>
        <div *ngIf="rowData?.length>0">
            <ag-grid-angular style="width: 90%; height: 500px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>