<div class="card mb-3">
    <div class="card-header text-center bg-card text-white"> {{ "BOOK.BOOK_CATEGORY_TITLE" | translate}} </div>
    <div class="card-body txt-content">
        <h5 class="card-title">{{ "BOOK.BOOK_LIST" | translate }}</h5>
        <div class="conteiner__search">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="categoriaId">
                <option *ngFor="let categoria of categorias" [value]="categoria.id"> {{categoria.nombre}} </option>
            </select>
            <button type="button" (click)="buscarLibros()" class="form__submit">{{ "SHARED.BUTTONS.SEARCH" | translate }}</button>
        </div>
        <div *ngIf="libros?.length == 0" class="alert alert-info mt-3">
            {{ "BOOK.WARNING_LIST" | translate }}
        </div>
        <div *ngIf="libros?.length>0" class="mt-3">
            <ngx-datatable class="material" [rows]="data" [columns]="cols" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected" [selectionType]="SelectionType.single" (select)="onSelect($event)">
            </ngx-datatable>
            <ng-template #hdrTpl let-column="column">{{ column.name }}</ng-template>
            <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
                <ng-container>
                    {{ value }}
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>