<div class="card mt-2">
    <div class="card-header text-center bg-card text-white" *ngIf="!consulta">{{ "BOOK_MARKS.ADD_BOOK_MARK_TITLE" | translate}}</div>
    <div class="card-header text-center bg-card text-white" *ngIf="consulta"> {{ "BOOK_MARKS.CONSULT_BOOK_MARK_TITLE" | translate}} </div>
    <div class="card-body txt-content">
        <form [formGroup]="marcaLibroForm" (ngSubmit)="guardarMarcaLibro()">
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK_MARKS.DESCRIPTION" | translate}} </label>
                <input [class.is-invalid]="descripcion.invalid && descripcion.touched" type="text" formControlName="descripcion" class="form-control" required>
                <small class="text-danger " *ngIf="descripcion.invalid && descripcion.touched ">{{ "VALIDATION.DESCRIPTION_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK_MARKS.PAGES" | translate}} </label>
                <input [class.is-invalid]="paginas.invalid && paginas.touched" type="text" formControlName="paginas" class="form-control" required>
                <small class="text-danger " *ngIf="paginas.invalid && paginas.touched ">{{ "VALIDATION.PAGES_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row" *ngIf="consulta">
                <label class="col-form-label col-sm-2">{{ "CHAPTERS.CHAPTER_TITLE" | translate}} </label>
                <input [class.is-invalid]="capitulo.invalid && capitulo.touched" type="text" formControlName="capitulo" class="form-control" required>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK_MARKS.RESUME" | translate}} </label>
                <textarea class="form-control" formControlName="resumen"></textarea>
            </div>
            <div class="form__content-submit">
                <button type="button" (click)="volver()" class="form__submit">
                    <i class='bx bx-arrow-back icon-style'></i>
                    {{ 'SHARED.BUTTONS.BACK' | translate }}
                </button>
                <button type="submit" *ngIf="!consulta" [disabled]="marcaLibroForm.invalid" class="form__submit">
                    <i class='bx bx-save icon-style'></i>
                    {{ 'SHARED.BUTTONS.SAVE' | translate }}
                </button>
                <button type="button" *ngIf="consulta" name="eliminar" class="form__submit" (click)="eliminarMarcaLibro()">
                    <i class='bx bx-trash icon-style'></i>
                    {{ "SHARED.BUTTONS.DELETE" | translate }}
                </button>

            </div>
        </form>
    </div>
</div>