<div class="card mt-2">
    <div class="card-header text-center bg-card text-white">{{ "BOOK.ADD_BOOK_TITLE" | translate}}</div>
    <div class="card-body txt-content">
        <form [formGroup]="libroForm" (ngSubmit)="guardarLibro()">
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK.NAME" | translate}} </label>
                <input [class.is-invalid]="nombre.invalid && nombre.touched" type="text" formControlName="nombre" class="form-control" required>
                <small class="text-danger " *ngIf="nombre.invalid && nombre.touched ">{{ "VALIDATION.NAME_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK.AUTHOR" | translate}} </label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="autorId">
                  <option *ngFor="let autor of autores" [value]="autor.id"> {{autor.nombre}} {{autor.apellido}} </option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK.DESCRIPTION" | translate}} </label>
                <textarea [class.is-invalid]="descripcion.invalid && descripcion.touched" class="form-control" formControlName="descripcion" required></textarea>
                <small class="text-danger " *ngIf="descripcion.invalid && descripcion.touched ">{{ "VALIDATION.DESCRIPTION_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK.DATE" | translate}}</label>
                <input [class.is-invalid]="fechaLibro.invalid && fechaLibro.touched" type="text" formControlName="fechaLibro" class="form-control" mask="d0/M0/0000" [leadZeroDateTime]="true" required>
                <small class="text-danger" *ngIf="fechaLibro.invalid && fechaLibro.touched ">{{ "VALIDATION.DATE_REQUIRED" | translate}}</small>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">{{ "BOOK.CATEGORY" | translate}}</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="categoriaId">
                    <option *ngFor="let categoria of categorias" [value]="categoria.id"> {{categoria.nombre}} </option>
                  </select>
            </div>
            <div class="form__content-submit">
                <button type="submit" *ngIf="!consulta" [disabled]="libroForm.invalid" class="form__submit">
                    <i class='bx bx-save icon-style'></i>
                    {{ 'SHARED.BUTTONS.SAVE' | translate }}
                </button>
                <button type="button" (click)="eliminarLibro()" *ngIf="consulta" class="form__submit">
                    <i class='bx bx-trash icon-style'></i>
                    {{ 'SHARED.BUTTONS.DELETE' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>